*{
    padding:0;
    margin:0;
    font-family: 'poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}
.nav-gap{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
}
.flex1{
    display: flex;
    flex-direction: row;
}
.container{
    margin-bottom: 100px;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.box1{
    display: flex;
    width: 490px;
    height: 180px;
    background-color: #D5FFDD;
    border-radius: 20px;
    margin-bottom: 41px;
}
.box1-text1{
    margin-top: 10px;
    font-size: 32px;
    font-weight: 500;
}
.box1-text2{
    font-size: 14px;
    font-weight: 500;
}
.img-1{
    width: 230px;
    height: 230px;
    margin-top: -48px;
}
.box2{
    display: flex;
    width: 235px;
    height: 180px;
    background-color: #FFF4DC;
    border-radius: 20px;
    margin-bottom: 41px;
    justify-content: center;
    align-items: center;
}
.img-2{
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.box3{
    display: flex;
    width: 235px;
    height: 180px;
    background-color: #FFCED7;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.box4{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 392px;
    background-color: #E2F2FF;
    border-radius: 20px;
    margin-left: 26px;
    margin-bottom: 41px;
    align-items: center;
    justify-content: center;
}
.box4-text1{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.box4-text2{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.boxr1{
    width: 423px;
    height: 96px;
    background-color: #FFFFFF;
    stroke: #D5FFDD;
    border-radius: 20px;
    margin-top: 34px;
    margin-left: 68px;
    box-shadow: 0 0 0 1px #D8D6C1;
    display: flex;
}
.boxr1-text1{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.boxr2{
    width: 423px;
    height: 96px;
    background-color: #FFFFFF;
    stroke: #D5FFDD;
    border-radius: 20px;
    margin-top: 18px;
    margin-left: 68px;
    box-shadow: 0 0 0 1px #D8D6C1;
    display: flex;
}
.boxrd1{
    width: 230px;
    height: 120px;
    background-color: #FFFFFF;
    stroke: #D5FFDD;
    border-radius: 20px;
    margin-top: 97px;
    margin-left: 41px;
    box-shadow: 0 0 0 1px #D8D6C1;
    display: flex;
}
.boxrd1-text1{
    margin-top: 35px;
    font-size: 15px;
    font-weight: 500;
}
.boxrd2{
    width: 230px;
    height: 120px;
    background-color: #FFFFFF;
    stroke: #D5FFDD;
    border-radius: 20px;
    margin-top: 97px;
    margin-left: 15px;
    box-shadow: 0 0 0 1px #D8D6C1;
    display: flex;
}
.subbox1{
    display: flex;
    width: 240px;
    height: 37px;
    background-color: #399349;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.subbox1-text1{
    font-size: 20px;
    font-weight: 500;
}
.subbox2{
    display: flex;
    width: 173px;
    height: 37px;
    background-color: #E29A00;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 135px;
    position: absolute;
    z-index: 1;
}
.subbox3{
    display: flex;
    width: 173px;
    height: 37px;
    background-color: #FF5573;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 135px;
    position: absolute;
    z-index: 1;
}
.img-3{
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.subbox4{
    display: flex;
    width: 173px;
    height: 37px;
    background-color: #3279AF;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.subboxr{
    display: flex;
    width: 149px;
    height: 22px;
    background-color: #D8D6C1;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.subboxr1-text1{
    font-size: 12px;
    font-weight: 500;
}
.subboxrd{
    display: flex;
    width: 100px;
    height: 55px;
    background-color: #D8D6C1;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.boxrow-flex{
    display: flex;
    flex-direction: row;
}
.img-rd{
    margin-top: 14px;
}

@media only screen and (max-width: 426px) {
    *{
        padding:0;
        margin:0;
        font-family: 'poppins', sans-serif;
    }
    nav{
        overflow: hidden;
        position: fixed;
        bottom: -30px;
        width: 100%;
        z-index: 3;
    }
    .title{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 32px;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .box-container{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .box1{
        display: flex;
        width: 289px;
        height: 299px;
        background-color: #D5FFDD;
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }
    .subbox1{
        width: 212.41px;
        height: 45.43px;
        position: relative;
        display: flex;
        background-color: #399349;
        border-radius: 15px;
        margin-left: 0px;
        margin-top: -140px;
        z-index: 2;
    }
    .box1-text1{
        position: relative;
        margin-top: 90px;
        font-size: 32px;
        font-weight: 500;
        z-index: 1;
    }
    .box1-text2{
        position: relative;
        font-size: 14px;
        font-weight: 500;
        z-index: 1;
    } 
    .box2{
        display: flex;
        width: 288.53px;
        height: 221px;
        background-color: #FFF4DC;
        border-radius: 20px;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }
    .subbox2{
        display: flex;
        width: 212.41px;
        height: 45.43px;
        background-color: #E29A00;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        margin-top: 135px;
        position: absolute;
        z-index: 1;
    }
    .box3{
        display: flex;
        width: 289px;
        height: 239.85px;
        background-color: #FFCED7;
        border-radius: 20px;
        justify-content: center;
        align-items: center;

    }
    .box4{
        margin-top: 100px;
        margin-left: -3px;
        width: 289px;
        height: 314px;
    }
    .subbox4{
        position: absolute;
        margin-top:55px;
        width: 212.41;
        height: 45.43;
    }
    .box4-text1{
        margin-top: 200px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        position:relative;
        z-index: 1;
    }
    .box4-text2{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        position:relative;
        z-index: 1;
    }
    .boxr1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        margin-left: 0;
        width: 288.53px;
        height: 221px;
        background-color: #E9E8E2;
        box-shadow: none;
    }
    .boxr1-text1{
        display: none;
    }
    .subboxr1-text1{
        font-size: 20px;
    }
    .boxr2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: 0;
        width: 288.53px;
        height: 221px;
        background-color: #E9E8E2;
        box-shadow: none;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .boxrow-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-1{
        position: absolute;
        width: 230px;
        height: 230px;
        margin-top: -200px;
    }   
    .img-2{
        width: 213.26px;
        height: 208.72px;
        margin-top: -30px;
        position: absolute;
        z-index: 1;
    }
    .img-3{
        width: 209.06px;
        height: 226.53px;
        margin-top: 10px;
        position: absolute;
        z-index: 1;
    }
    .img-4{
        margin-top: -160px;
        width: 230px;
        height: 230px;
        position: absolute;
    }
    .img-8{
        width: 213px;
        height: 213px;
        margin-top: -100px;
        position: absolute;
    }
    .img-9{
        width: 213px;
        height: 213px;
        margin-top: -100px;
        position: absolute;
    }
    .img-rd{
        width: 213px;
        height: 213px;
        margin-top: -100px;
        position: absolute;
    }
    .subboxr{
        margin-top: 160px;
        position: relative;
        width: 212.41px;
        height: 45.43px;
        z-index: 1;
    }
    .boxrd1{
        display: flex;
        margin-left: 0;
        margin-top: 40px;
        width: 288.53px;
        height: 221px;
        justify-content: center;
        align-items: center;
        background-color: #FFDBC5;
    }
    .subboxrd{
        width: 212.41px;
        height: 45.43px;
        margin-top: 160px;
        position: relative;
        background-color: #E36415;
    }
    .subboxrd2{
        display: flex;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 212.41px;
        height: 45.43px;
        margin-top: 160px;
        position: relative;
        background-color: #275E87;
    }
    .boxrd1-text1{
        display: none;
    }
    .boxrd2{
        display: flex;
        margin-top: 30px;
        width: 288.53px;
        height: 221px;
        margin-left: 0;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        background-color: #8FC5ED;
    }
}